crewai
crewai-tools
dj-database-url
Django
django-heroku==0.3.1
google-search-results
gunicorn
langchain-community
markdown2
python-dotenv
uvicorn
whitenoise
celery==5.3.6
redis==5.0.1
django-celery-beat==2.5.0